include ../global/util.pug

mixin guideMenu()
  nav#guide-menu()&attributes({'opened': ''})
    +guideSection(
      [
        {href:'/',  string: '홈', imgSrc:`${imgSrc}home.svg`, width: 18, height: 18},
        {href:'/trend', string:'인기', imgSrc:`${imgSrc}trend.svg`, width: 18, height: 18},
        {href:'/subscription', string:'구독', imgSrc:`${imgSrc}subscription.svg`, width: 18, height: 18}
      ]
    )
    +guideSection(
      [
        {href:'/library', string:'보관함', imgSrc: `${imgSrc}library.svg`, width: 18, height: 18},
        {href:'/history', string:'시청 기록', imgSrc: `${imgSrc}view-record.svg`, width: 18, height: 18},
        {href:'/studio', string:'내 동영상', imgSrc: `${imgSrc}personal.svg`, width: 18, height: 18},
        {href:'/playlist', string:'나중에 볼 동영상', imgSrc:`${imgSrc}watch-later.svg`, width: 18, height: 18}
      ]
    )
    - if(subscribedItems)
      +guideSection(subscribedItems)(class="img-style")
    div#footer
      p 
        | © 2021 Home
        br
        | 개발자: 이상민
        br
        | 주소: 서울특별시 서초구
        br
        | 전화: 010-9***-****

mixin guideSection(arr)
  #guide-section
    each obj in arr
      +anchorItem(obj.href, obj.string, obj.imgSrc, obj.width, obj.height)&attributes(attributes)

mixin anchorItem(href, string, imgSrc, width, height)
  a.guide-item.endpoint(href=href title=string)
    +imgWrap(imgSrc, string, width, height)&attributes(attributes)
    .title= string