include ../global/util.pug

mixin navbar()
  #navbar
    #left
      #menu
        +buttonWrap(`${imgSrc}header_menu.png`, "메뉴 버튼", { className: "mr apd" })
      #logo-container
        a#logo(href="/" title="JJabtube 홈")
          +imgWrap(`${imgSrc}youtube_logo.svg`, '짭튜브 로고', 80, 24)
    #center
      #search-container
        form#search-form(action="/results")
          #search-input
            label(for="search" hidden)
            input(id="search" type="text" name="search" placeholder="검색" autocomplete="off")
    #right
      - if(isAuthenticated)
        #buttons
          +buttonWrap(`${imgSrc}video_camera.png`, "동영상 업로드", { className: "mr apd" })
          +buttonWrap(`${imgSrc}alarm.png`, "동영상 알림", { className: "mr apd" })
          +buttonWrap(`${imgSrc}user.png`, "내 정보", { className: "apd", id:"avatar" })
      - else
        #login-container
          a#login(href="/auth/google")
            +imgWrap(`${imgSrc}non-user.svg`, "로그인")
            p 로그인

mixin buttonWrap(imgSrc, alt, { className, id }={})
  button.button-icon(id=id class=className)&attributes(attributes)
    +imgWrap(imgSrc, alt)